 .header{
    height:56px;
    display:flex ;
    flex-direction:row;
    align-items: center;
    justify-content:space-between;
    position:fixed;
    top:0;
    right:0;
    left:0;
    background-color: white;
    border-bottom-width: 1px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-style:solid;
    border-color:rgb(221, 218, 218); 
    z-index: 100;
 }

 .left-section{
   display:flex;
   
   width:159px;
   align-items: center;
   justify-content:space-between;
 }
 .hamburger{
   height:40px;
   margin-left: 20px;
   width:20px;
 }
 .youtube{
   height:21px;
 }

 .middle-section{
   display:flex;
   align-items:center;
   flex:1;
   margin-left: 270px;
   margin-right: 240px;
   max-width:580px;
   

 }
 .search-box{
            
                  border-width:1px;
                  border-radius:2px;
                  border-bottom-right-radius: 0%;
                  border-top-right-radius:0% ;
                  border-color:lightgray;
                  border-style:solid;
                  height:36px;
                  flex:1;
                  padding-left: 12px;
                  box-shadow:inset 1px 2px 3px rgba(0,0,0,0.05);
                  width:0;
                 
        
 }
 .search-box:active{
  border-style:solid;
  border-width:1px;
  border-color: blue;
 }
 .search-box::placeholder{
   font-family: Roboto, Arial, sans-serif;
   font-size: 16px;
   color:gray;
   

 }
 .search-button{
   height:40px;
   width:65px;
   border-style: solid;
   border-radius: 0%;
   border-color:lightgray;
   border-width:1px;
   border-left-width: 0px;
   background-color:rgb(247, 247, 247);;
   position:relative;
 }
 .search-button .tooltip{
  position:absolute;
  
 bottom:-50px;
  right:0;

  background-color: grey;
  color:white;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: roboto,arial;
  border-radius: 2px;
  opacity:0;
  pointer-events: none;
  transition: 0.15s;


 }
 .search-button:hover .tooltip{
  position:absolute;
  
 bottom:-50px;
  right:0;

  background-color: rgb(95, 93, 93);
  color:white;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: roboto,arial;
  border-radius: 2px;
  opacity:0.85;


 }
.search-icon{
  height:22px;
  margin-top: 3px;
}
 .voice-button{
   height:40px;
   width:40px;
   border:none;
   border-radius:100%;
   margin-left:8px;
   background-color: rgb(247, 247, 247);
   position:relative;
 }
 .voice-button .tooltip{
  position:absolute;
  
 bottom:-50px;
  right:-20px;

  background-color: grey;
  color:white;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: roboto,arial;
  border-radius: 2px;
  pointer-events: none;
  white-space: nowrap;
  opacity:0;
  transition: 0.15s;


 }
 .voice-button:hover .tooltip{
  position:absolute;
  
 bottom:-50px;
  right:-80px;

  background-color: rgb(95, 93, 93);
  color:white;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: roboto,arial;
  border-radius: 2px;
  opacity:0.85;


 }
 .voice-icon{
height:22px;
margin-top:3px;
 }

.right-section{
   display:flex;
   width:200px;
   align-items:center;
   justify-content: space-between;
   flex-shrink: 0;

 }
 .upload,.apps,.notifications{
   height:24px;
 }
 


 .notification-container{
  position:relative;
 }
 .notification-number{
  position:absolute;
  top:0px;
  right:-3px;
  background-color: rgb(226, 24, 24);
  color:white;
  font-family:roboto,arial;
  font-size:10px;
  padding-top:1px;
  padding-bottom:1px;
  padding-left:5px;
  padding-right:5px;
  border-radius: 10px;
  border-width: 12px;
  
 }

 .upload-container,.apps-container,.notification-container{
  position:relative;
  display:flex;
  justify-items: center;
 }
 .upload-container .tooltip,
 .apps-container .tooltip,
 .notification-container .tooltip{
  position:absolute;
  bottom:-50px;
  right:-20px;

  background-color: grey;
  color:white;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: roboto,arial;
  border-radius: 2px;
  pointer-events: none;
  opacity:0;
  transition: opacity 0.15s;
 }

 .upload-container:hover .tooltip,.apps-container:hover .tooltip,
 .notification-container:hover .tooltip{
   position:absolute;
  
 bottom:-60px;
  right:-20px;
background-color: rgb(95, 93, 93);
  color:white;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: roboto,arial;
  font-size: 15px;
  border-radius: 2px;
  opacity:0.85;
   transition: 0.15s;
white-space: nowrap;


 }
 .my-channel{
   height:32px;
   margin-right:20px;
 }