.sidebar{
    position:fixed;
    left:0;
    bottom:0;
    top:56px;
    background-color: white;
    width:68px;
    z-index:  200;
    padding-top:0px;
    
}
.sidebar-links{
   
    
    display:flex;
    height:60px;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    padding-top:20px;
    cursor:pointer;
    
    
    
}
.sidebar-links:hover{
    background-color:lightgrey;
}
.sidebar-links img{
    height:24px;
}
.sidebar-links div{
    font-family: roboto,arial;
    font-size: 10px;
    margin-top:8px;

}